<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ MAIN.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="icon" href="{{ MAIN.icon }}" type="image/x-icon">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- Sheet Style -->
	<link rel="stylesheet" href="{{ MAIN.static }}/theme/sallar/css/main_style.css" />

	<meta name="title" content ="programming"><title>soroush safari - coci - python - swift</title>

	<meta name="description" content="programming">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115996537-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-115996537-1');
	</script>



</head>
<body>


   <div class="contianer">

      <div class="row">

        <div class="logo">
        	<img src="{{ MAIN.static }}/theme/sallar/img/icon.png" alt="logo" class="img-responsive">
        </div>
		<p class="name">{{ MAIN.author }}</p>
		<p class="bio">I'm passionate about learning how to code.</br></br>So far i have mastered Swift, Python, Ruby, PHP and shell</p>
		<p class="motto">Be Fun And Be Happy :)</p>


	    <footer>
    	<div class="footer-menu">
    		<a href="https://www.instagram.com/soroush_safarii" style="color:black"><i class="fab fa-instagram"></i></a>
			<a href="https://twitter.com/soroush_safarii" style="color:black"><i class="fab fa-twitter"></i></a>
			<a href="https://github.com/coci" style="color:black"><i class="fab fa-github"></i></a>
			<a href="https://t.me/im_coci" style="color:black"><i class="fab fa-telegram-plane"></i></a>
			<a href="https://keybase.io/coci" style="color:black"><i class="fab fa-keybase"></i></a>
			<a href="mailto:soroush_safarii@yahoo.com" style="color:black"><i class="fas fa-at"></i></a>
			<a href="/farsi" style="color:black"><i class="fas fa-align-right"></i></a>
    	</div>

		<p class="copyright">&copy; All right reserved - 2017</a></p>
    </footer>


      </div>

   </div>

<style>
 body{
 background-color: #fff;
 background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
 background-size: 100% 1.2em;}
</style>
</body>
</html>
