@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

@font-face { 
    font-family:Sahel;
    font-weight:regular;
    src:url(../font/sahel.woff);
}
@font-face { 
    font-family:Sahel;
    font-weight:700;
    src:url(../font/sahel-bold.woff);
}
@font-face { 
    font-family:Sahel;
    font-weight:900;
    src:url(../font/sahel-black.woff);
}

body,html{
	font:16px/1.618 Anonymous Pro;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering:optimizelegibility
}
@media (max-width:768px){
	body,html{
		font-size:14px
  }
  .mesra.even {
    padding-bottom: 15px;
    text-align: center;
  }
  .mesra.odd {
    text-align: center;
  }
  .title {
    text-align: right;
  }
}

@media (min-width:768px) {
  .mesra.even {
    text-align: right;
  }
  .mesra.odd {
    text-align: left;
  }
}

html[lang=Farsi] body,html[lang=Farsi] html{
	font-family:Sahel;
}
html[lang=Farsi] .cover-container {
	direction:rtl;
}

.indexes {
  margin-top: 2rem;
  border-bottom: 2px solid #5cb3b6;
}
.archname {
  font-size: 1.4rem;
  font-weight: 700;
}

#content h2.title {
  font-size: 20px;
  font-weight: 700;
}

.poem {
  padding-top: 2rem;
}

.ghazal-list {
  padding-top: 1rem;
}
.ghazal-list a {
	color:#2e7ee7
}
.ghazal-list p {
  color:#79929e;
	display:block;
}
.ghazal-list a:after {
	content:" - "
}
ul.pagination {
  margin-right: 0;
  padding-right: 0;
}
.page-link {
  color: #5cb3b6;
  border: 0;
  padding: .1rem .20rem;
}

.page-nav {
  font-size: .9rem;
  margin-top: 2rem;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #609496;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #5cb3b6;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #333;
  
}

.cover-container {
  max-width: 44em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  border-bottom: 1px solid #609496;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 400;
  color: #609496;
  background-color: transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-right: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: right;
  }
  .nav-masthead {
    float: left;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 400;
}


/*
 * Footer
 */
.mastfoot {
  color: #6e7783;
  font-size: .9rem;
  border-top: 1px solid #609496;
}
.mastfoot a {
  color: #555;
}

