 @import url('https://fonts.googleapis.com/css?family=Sacramento');
 body,a,p,span,i,footer,div,img,h1,h2,h3,h4,h5,h6{
 	text-decoration: none;
 	margin:0;
 	padding: 0;
 }
 body {
      font-size:  12px;
 }

.contianer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

p {
    margin: 1.5rem auto;
}
 .img-responsive {
    display:  block;
    max-width: 118px;
    height:  auto;
    text-align:  center;
    /* width: auto; */
    margin: 4rem auto 1rem;
    width: 100%;
}

.row {
    text-align:  center;
}

.name {
    font-size: 4rem;
    color: black;
    position: relative;
    text-align: center;
}



.bio {
    font-size: 1.5rem;
    color: black;
    letter-spacing: 3.4px;
    text-align: center;
}

.motto {
    font-size: 1.6rem;
    color: black;
    letter-spacing: 0.4px;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.footer-menu {
    text-align:  center;
    font-size:  3rem;
    margin:  1rem auto;
}

.footer-menu a {
    margin: 0 .5rem;
}

.copyright {
    text-align:  center;
    margin:  10px auto;
    font-size: 1rem;
    color: rgba(46, 43, 55, 0.53);
}

.link{
    color: #000;
    position:  relative;
   border-bottom: solid 1px transparent;
  -webkit-transition:  border-bottom-color .2s ease-out;
  -moz-transition:border-bottom-color .2s ease-out;
  -ms-transition:border-bottom-color .2s ease-out;
  -o-transition: border-bottom-color .2s ease-out;
  transition: border-bottom-color .2s ease-out;
}

.link:hover {
  border-bottom: solid 1px #014a28;
}

@media screen and (max-width: 641px){
	.row{
		margin: 0 5px;
	}
	.name {
    font-size: 3rem;
    color: black;
    position: relative;
    text-align: center;
    }
	.footer-menu {
    text-align: center;
    font-size: 2rem;
    margin: 1rem auto;
    }
}