<!DOCTYPE html>
<html lang="{{ SITE.language }}">
<head>
  <title>{{ PageTITLE }}</title>

  <meta charset="utf-8">
  <meta name="description" content="{{ SITE.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ TitleContent }}">
  <meta property="og:url" content="{{ SITE.url }}">
  <meta property="og:site_name" content="{{ SITE.title }}">
  <meta property="og:description" content="{{ HeadDesc | html }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ TitleContent }}">
  <meta name="twitter:description" content="{{ HeadDesc | html | truncate(50) }}">

  <link rel="alternative" href="{{ SITE.root }}atom.xml" title="{{ TITLE }}" type="application/atom+xml">
  <link rel="short icon" href="{{ SITE.icon }}">

  <link rel="stylesheet" href="{{ MAIN.static }}/theme/tahrir/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="{{ MAIN.static }}/theme/tahrir/css/cover.css">

  <link rel="manifest" href="{{ SITE.manifest }}">


</head>
<body class="text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
      <div class="inner">
        <h3 class="masthead-brand">{{ SITE.title }}</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="{{ SITE.root }}">خانه</a>
          <a class="nav-link" href="{{ SITE.root }}list/غزلیات/">غزلیات</a>
          <a class="nav-link" href="/tahrir/about/">درباره</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <section id="content">
          {{ FOREACH post IN POSTS }}
          <article id="{{ post.slug }}" class="article article-type-poem" itemscope itemprop="ghazal">
            <h2 class="title" itemprop="name">{{ post.title }}</h2>
          
            <section class="content">
              <div class="row poem">
              {{ FOREACH line IN post.mesra }}
                <div class="mesra {{ loop.parity }} col-sm-12 col-md-6">
                  {{ line }}
                </div>
              {{ END }}
              </div>
              <div class="int-body">
                <b>وزن: </b>{{ post.vazn }}
                <br>
                <b>بحر: </b>{{ post.bahr }}
                <hr>

                {{ IF post.tazmin }}
                <h4>تضمین</h4>
                {{ FOREACH tazmin IN post.tazmin }}
                  <b>{{ tazmin.key }}: </b>{{ tazmin.value }}<br>
                {{ END }}
                <hr>
                {{ END }}

                {{ IF post.esteghbal }}
                <h4>استقبال</h4>
                {{ FOREACH esteghbal IN post.esteghbal }}
                  <b>{{ esteghbal.key }}: </b>{{ esteghbal.value }}<br>
                {{ END }}
                <hr>
                {{ END }}

                {{ IF post.talmih }}
                <h4>تلمیح</h4>
                {{ FOREACH talmih IN post.talmih }}
                  <b>{{ talmih.key }}: </b>{{ talmih.value }}<br>
                {{ END }}
                <hr>
                {{ END }}

                {{ FOREACH kalame IN post.kalamat }}
                  <b>{{ kalame.items.0 }}: </b>{{ kalame.items.1 }}<br>
                {{ END }}
                <hr>

                {{ IF post.arabi }}
                <h4>ابیات عربی</h4>
                {{ FOREACH arabi IN post.arabi }}
                  <b>{{ arabi.key }}: </b>{{ arabi.value }}<br>
                {{ END }}
                <hr>
                {{ END }}

                {{ IF post.mani }}
                <h4>معنی ابیات</h4>
                {{ FOREACH mani IN post.mani.keys.nsort }}
                <b>{{ mani | $FarsiNum }}- </b>{{ post.mani.$mani }}<br>
                {{ END }}
                <hr>
                {{ END }}

                {{ IF post.analyze.kelid }}
                {{ post.analyze.kelid IF post.analyze.kelid }}
                <hr>
                {{ END }}

                {{ post.body.more }}
              </div>
            </section>
          
          </article>
          {{ END }}
      </section>
    </main>

    <section class="page-nav">
      <div class="row">
        <div class="col-6 text-right">
        {{ IF PAGE.prev }}
          <a rel="prev" href="{{ PAGE.prev.url }}">
            <i><-</i>
            <span>{{ PAGE.prev.title }}</span>
          </a>
        {{- END }}
        </div>
        <div class="col-6 text-left">
        {{ IF PAGE.next }}
          <a class="col-6 text-left" rel="next" href="{{ PAGE.next.url }}">
            <span>{{ PAGE.next.title }}</span>
            <i>-></i>
          </a>
        {{- END }}
        </div>
      </div>
      </nav>
    </section>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>powered with ♥ by <a href="https://miraxy.github.io/">Mira</a></p>
      </div>
    </footer>
  </div>


    <script>
      function getRandomaddr(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        var myNumber = Math.floor(Math.random() * (max - min)) + min;
        var formattedNumber = ("000" + myNumber).substr(-3);
        var address = "/tahrir/ghazal/" + formattedNumber + "/";
        window.location.href = address;
      }
    </script>

  </body>
</body>
